{% trans_default_domain 'FOSUserBundle' %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
<main>
    <div class="container">
        <!--sections-->
        <div class="row"   >
            <div class="col-lg-8">
                <div class="sh-login">
                    <div class="sh-login__logo"><a href="index.php" class="sh-logo"><img src="fonts/icons/sharehub/svg/Sharehub.svg" alt=""></a></div>
                    <div class="sh-login__content">
                        <div class="dff-tab current" id="tab-3">
                            Congrats, your account has been created successfully
                            <a href="/creatreclamation">Go To Your Profile !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
