<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>

    </script>
</head>
<body>
<button id="clickHere2">Click here</button>
<a id="clickHere" href="#">click here for test</a>
<div id="your_div"></div>
<script>
    jQuery( document ).ready(function( $ ) {
        $("#clickHere").click(function () {
            $.ajax({
                type: "post",
                url: '{{ path('test2') }}',
                contentType: "html",
                success: function(response) {
                    alert(123);
                    //var htmlToDisplay = response.trim();
                    //$("#your_div").html(response);
                },
                error: function(jxh,textmsg,errorThrown){
                    console.log(textmsg);
                    console.log(errorThrown);
                }
            });
        });
    });


</script>
</body>
</html>